<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <label for="playerName">player name here: </label>
    <input type="text" id="playerName">
    <!--<label for="score"></label>
    <input type="text" id="score"> -->
    <button id="submit">play!</button>
    <p id="someValue" value="here score !"></p>
</body>
<script type="text/javascript" src="../script/app.js"></script>
</html>